@import "../../../pstj/less/boxing-model";
// @import "animations";
@import "containers";
@import "colors";

.icons {
	width: 100%;
	height: @panelsize;
	text-align: center;
	margin: auto;
	vertical-align: middle;
	font-size: 120%;
  border-bottom: 1px solid darken(@base, 5%);;
	/*.boxing-model();*/
}

.icon {
	-webkit-background-size: 45px, 0px;
	/* @alternative */
	-moz-background-size: 45px, 0px;
	/* @alternative */
	background-size: 45px, 0px;

  float:right;
  display: inline-block;
	background-position: center center;
	background-repeat: no-repeat,no-repeat;
	width: 80px;
	height: 50px;
	border-radius: 15px;

	-webkit-transition: all 500ms;
	/* @alternative */
	-moz-transition: all 500ms;
	/* @alternative */
	-o-transition: all 500ms;
	/* @alternative */
	-ms-transition: all 500ms;
	/* @alternative */
	transition: all 500ms;
}

// .icon.active {
// 	-webkit-animation: focus 1900ms ease;
// 	/* @alternative */
// 	-moz-animation: focus 1900ms ease;
// 	/* @alternative */
// 	-ms-animation: focus 1900ms ease;
// 	/* @alternative */
// 	-o-animation: focus 1900ms ease;
// 	/* @alternative */
// 	animation: focus 1900ms ease;
// }

/** Specific icons */
.icon-back {
  background-image: url('../assets/back.svg');
  float: left;
}
.icon-check {
  background-image: url('../assets/check.svg');
}
.icon-search {
  background-image: url('../assets/search.svg'), url('../assets/focus.svg');
}
.icon-cart {
  background-image: url('../assets/cart.svg'), url('../assets/focus.svg');
}
.icon-private {
  background-image: url('../assets/private.svg'), url('../assets/focus.svg');
}
.icon-list {
  background-image: url('../assets/list.svg'), url('../assets/focus.svg');
}
.icon-menu {
  background-image: url('../assets/menu.svg'), url('../assets/focus.svg');
}
.icon-calendar {
  background-image: url('../assets/schedule.svg'), url('../assets/focus.svg');
}
