* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

@import "../../../pstj/less/reset";
@import "../../../smjs/less/notifications";
@import "../../../pstj/less/ng-cloak";
@import "colors";
@import "containers";
@import "icons";
@import "list";
@import "player";
@import "overlay";
@import "search";
@import "epg";
@import "smstb";


.notifications {
  .notification();
}

.notification-content {
  .notification-content();
  color: black;
}

.confirm-panel {
  color: black;
}

input, select {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}
