@base: #EBEBEB;
@panel: #424242;
@shadow: #BFBFBF;

/** The listing colors */
@listShadow: #737373;
@list-item: #F3F3F3;
@list-item-hover: #D6D6D6;
@list-price: #9e2f3e;
@list-label: #805b80;
@list-label-text: #ffffff;
