@import "../../../pstj/less/button";
@import "list";

@epg-item-height: 60px;
@epg-item-bg: #ebebeb;
@epg-item-bg-hover: #ccc;
@epg-item-delimiter-bg: @list-label;
@epg-item-delimiter-color: @list-label-text;

.epg-list {
  padding-top: 35px;
}

.epg-list-item {
  border: 2px solid transparent;
  position: relative;
  outline: none;
  overflow: hidden;
}

.epg-list-item-hover {
  .epg-item-start-time {
    border-color: @epg-item-bg;
  }
}


// The ones marked as deleimiter need to be marked visually.
.epg-list-item.epg-delimiter {
  border-top: 2px solid @epg-item-delimiter-bg;
}

.epg-item-start-time {
	width: 110px;
  height: 45px;
  font-size: 1.4em;
  line-height: 45px;
  text-align: center;
}

.epg-item-name {
  font-size: 1.4em;
  line-height: 45px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 110px;
}

.epg-item-date {
  background-color: @epg-item-delimiter-bg;
  color: @epg-item-delimiter-color;
	height: 20px;
	position: absolute;
	top: 0;
	right: 0;
	text-align: right;
  padding-right: 5px;
  padding-left: 10px;
  border-bottom-left-radius: 5px;
}

.epg-item-desc {
  position: relative;
  padding: 5px 10px;
  border-top: 1px solid lighten(@base, 15%);
}

.epg-more {
  max-height: 0px;
  transition: max-height 500ms, padding-bottom 500ms;
  padding-bottom: 0;
}

.epg-list-item.epg-list-item-focused .epg-more {
  max-height: 120px;
  transition: max-height 500ms, padding-bottom 500ms;
  padding-bottom: 18px;
}

.epg-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 25px;
  padding-left: 10px;
}

.epg-header {
  background-color: @base;
  width: 50%;
  border-bottom: 1px solid @panel;
  position: fixed;
  top: 50px;
  height: 35px;
  z-index: 2;
}

@media screen and (orientation:portrait) and (max-width:320px) {
  .epg-header {
    width: 100%;
  }
}

.epg-button {
  .pstj-button(@panel);
  line-height: 20px;
  font-size: 20px;
  float: left;
}

.epg-button-hover, .epg-add-button-hover {
  .pstj-button-hover(lighten(@panel, 10%));
}

.epg-button-active, .epg-add-button-active {
  .pstj-button-active();
}

.epg-add-button {
  .pstj-button(@panel, white, 1px solid white, 5px 8px, absolute);
  right: 0;
  margin-right: 10px;
  margin-top: 5px;
}

.epg-add-button-hover {
  background-color: lighten(@panel, 20%);
}

.epg-add-button-active {
  top: 5px;
}
